registry=https://usw1.packages.broadcom.com/artifactory/api/npm/apim-npm-virtual/
https://usw1.packages.broadcom.com/artifactory/api/npm/apim-npm-virtual/:email=bld-apim.teamcity@broadcom.com
https://usw1.packages.broadcom.com/artifactory/api/npm/apim-npm-virtual/:always-auth=true
